<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTile}}</title>
    <link rel="stylesheet" href="./../assets/css/style.css">
</head>
<body>
    <h1>25.04-node</h1>
    <h2>Zajęcia projektowe</h2>
    <a href="./marcin">Klik</a>
    <h2>{{subTitle}}</h2>
    <h3>{{newVar}}</h3>

    <input type="text" id="example">
    <button  id="btn">Klik</button>
    <p id="text"></p>
    <script src="./../js/functions.js"></script>
</body>
</html>